footer {
	background-color: #565656;
	padding-bottom: 10px;
	padding-top: 35px;
	color: white;
}

.footer__left {
	display: flex;
}

.footer__logo {
	display: flex;
	margin-right: 50px;
}

.transfer {
	margin-right: 50px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
}

.footer__date {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}